$color-primary-1: #577f67;
$color-primary-2: #f1c8b6;
$color-primary-3: #fcf7f4;

$color-secondary-1: #182c2b;
$color-secondary-2: #c7baa9;
$color-secondary-3: #e5e6e0;
$color-secondary-4: #f8ece0;

$color-icon: $color-secondary-1;
