table.dataTable.display tbody {
  .even {
    background-color: $color-secondary-3 !important;
  }

  .odd {
    background-color: $color-secondary-4 !important;
  }

  tr.even {
    background-color: $color-secondary-3 !important;
  }

  tr.odd {
    background-color: $color-secondary-4 !important;
  }
}

.dataTables_scrollBody {
  border-bottom: none !important;
}
