@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap");
@import "colors";
@import "ms";
@import "datatable";
@import "leaflet";
@import "info";

body {
  background-color: $color-secondary-3;
  min-height: 600px;
  margin: 0;
  color: $color-primary-1;
}

/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 55px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
  height: 100vh;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: $color-secondary-4;
  padding: 6px 0px 6px 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.header-buttons {
  background-color: $color-secondary-4;
}

.logo {
  height: 40px;
}

.sidebar {
  grid-area: sidebar;
  background-color: $color-secondary-3;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.main {
  grid-area: main;
  background-color: $color-primary-3;
  padding-left: 28px;
  padding-right: 32px;
  max-width: calc(100vw - 300px);
  max-height: calc(100vh - 60px);
  overflow: auto;
}

.title {
  padding: 0px 14px 0px 14px;
  color: $color-secondary-1;
  margin: 6px 0px 6px 10px;
  border-left: 1px solid $color-secondary-1;
}

.btn-primary {
  background-color: $color-primary-2;
  color: $color-secondary-1;
}

.sidebar-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  width: 100%;
}

.card {
  padding: 28px;
  margin-top: 28px;
  background-color: $color-secondary-3;
  border-radius: 20px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $color-secondary-3 $color-primary-3;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $color-primary-3;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-secondary-3;
  border-radius: 20px;
  border: 3px solid $color-secondary-3;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-child {
  flex: 1;
}

.flex-push {
  margin-left: auto;
  margin-right: 28px;
}

.home-img {
  height: 200px;
}

.invisible {
  visibility: hidden;
}

.form-control {
  border-radius: 5px;
  border-color: invisible;
  background-color: $color-primary-3;
}

.progress-bar {
  border-radius: 5px;
  background-color: $color-secondary-3;
}

.shiny-notification {
  position: fixed;
  top: calc(50%);
  left: calc(50%);
  border-radius: 10px;
  background-color: $color-primary-1;
  color: $color-primary-3;
}
