.ms-Fabric {
  font-family: "Montserrat", sans-serif;
  color: $color-secondary-1;
}

.ms-Button {
  border-radius: 10px !important;
  background-color: $color-secondary-4 !important;
  color: $color-secondary-1 !important;
  :hover {
    border-radius: 10px;
    background-color: $color-primary-1 !important;
    color: $color-primary-3 !important;
    transition: background-color 1s ease, color 1s ease;
    -webkit-transition: background-color 1s ease color 1s ease;
    -moz-transition: background-color 1s ease, color 1s ease;
    -o-transition: background-color 1s ease, color 1s ease;
  }
}

.ms-Button-icon {
  color: $color-icon;
}

.root-55:hover .ms-Button-icon {
  color: $color-primary-3 !important;
}

.root-66:hover .ms-Button-icon {
  color: $color-primary-3 !important;
}

.header-buttons > .ms-Button {
  height: 50px;
}

.sidebar-buttons > .ms-Button {
  height: 50px;
}

.ms-SearchBox {
  border-radius: 10px !important;
  border-color: $color-primary-3 !important;
  background-color: $color-primary-3 !important;
  :hover {
    border-radius: 10px !important;
    border-color: $color-primary-3 !important;
  }
  :active {
    border-radius: 10px !important;
    border-color: $color-primary-3 !important;
  }
  .is-active {
    border-radius: 10px !important;
    border-color: $color-primary-3 !important;
  }
}

.root-95 {
  border-radius: 10px !important;
  border-color: $color-primary-3 !important;
  color: $color-primary-3 !important;
}

.iconContainer-89 {
  border-radius: 10px !important;
  border-color: $color-primary-3 !important;
  color: $color-primary-3 !important;
}

.ms-SearchBox-icon {
  color: $color-icon;
}

.root-95:hover {
  border-radius: 10px !important;
  border-color: $color-primary-3 !important;
}

.ms-Persona-primaryText {
  color: $color-secondary-1;
}

.ms-Dialog-main {
  border-radius: 10px;
  background-color: $color-primary-3;
}

.ms-List {
  border-radius: 10px;
  background-color: $color-secondary-3;
  color: $color-secondary-1;
}

.ms-GroupHeader {
  background-color: $color-secondary-3;
}
